{% extends "base.html" %}
{%block content%}
	<div class="panel panel-primary">
		<form action="/listcobros/" method = "POST">{% csrf_token %}
		<div class="row">
			<div class="col-lg-3">
	            <div class="input-group custom-search-form">
	              <input type="text" name = "consulta" class="form-control" placeholder="busca alumno ">
	              <span class="input-group-btn">
	              <button class="btn btn-default" type="submit" value = "Buscar">
	              <span class="glyphicon glyphicon-search"></span>
	             </button>
	             </span>
	            </div><!-- /input-group -->
	            <div class="app-cobranza">
	            	 	<label>Alumno:</label>{{alumno.id}} {{alumno.nombre}} {{alumno.apellidos}} 
                 		<br>
                 		<label>Nivel:</label>{{alumno.nivel}}
                 		<br>
                 		<label>Grupo:</label>{{alumno.grupo}}  
                 		<br>
                 		<label>Beca:</label>{{beca.porcentaje}}                  		
	            </div>
	        </div>
		</div>
	</form>
		<div class="panel-heading">Lista de Pagos Pendientes</div>
		<div class="panel-body">			
			<div class="table-responsive">
				<table  class="table table-hover table-bordered">                 	
					<tr>
						<th>Nombre</th>
						<th>Concepto</th>
						<th>Importe</th>
						<th>Fecha Limite de Pago</th>
						<th>Recargo</th>
						<th>Total a Pagar</th>
						<th>Seleccionar</th>								
					</tr>
					{%for a in cobranza%}
					<tr class="item" id="{{a.id}}">
						<td>
							<small>{{a.alumno}}</small>
						</td>	
						<td>
							<small>{{a.concepto}}</small>
						</td>	
						<td>
							<small> {{ a.concepto.importe }} </small>
						</td>					
						<td>
							<small>{{a.concepto.fechaLimitePago|date:"d M Y"}}
						</td>	
						<td>
							<small>{{a.recargo}}</small>
						</td>
						<td id="pago">
							<small>{{a.totalapagar}}</small>
						</td>
						 <td>
						<input type="checkbox" class = "chcktbl" value="{{a.id}}" rel="{{a.totalapagar}}">
						</td>					           
					</tr>
					 
					{%endfor%}					
				</table>	
				<div>
					<h4>
					<p>Monto Total a Pagar:</p><p id="out"></p>			 
					</h4>
				</div>
				<button  id="test" class="btn btn-primary pull-right" data-toggle="modal" data-target="#miModal">Pagar</button>

			</div>
		</div>
		<div class="modal fade" id="miModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Pago de Colegiatura</h4>
                        </div>

                        <div class="modal-body" id="apagar">
                        	<table id="tpago" class="table table-hover table-bordered">
								<tr>
									<th>Id</th>
									<th>Concepto</th>
									<th>Fecha Vencimiento</th>
									<th>Total</th>
								</tr>
								<tbody id="datos">
									
								</tbody>
							</table>
                        	 <div id="totalapagar">                        	 	 
                        	 	
                        	 	 
                        	 </div>
                        	 <br>
                        	 <div id="tipopago">
								<fieldset>
								 <p>Tipo de Tapo:</p>
									<input type="radio" name="pago" value="efe" />Efectivo<br />
									<input type="radio" name="pago" value="tar" />Tarjeta de Credito<br />	
								</fieldset>
                        	 </div>
                        </div>


                        <div class="modal-footer">
                            <button id="cobro" class="btn btn-primary">Aceptar</button> <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
        </div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>	
	<script> 		 
		$('#test').on('click', function() {
			var html = "";
			var htotalpago = "";
			$("input:checkbox:checked").each(function(){
				 var ida = $(this).val();
				 var eq1 = $('#'+ida+'>td').eq(1).text();
				 var eq2 = $('#'+ida+'>td').eq(3).text();
				 var eq3 = $('#'+ida+'>td').eq(5).text();
				 var monto = $('#out').text();
				 htotalpago +="<h4> Total a Pagar $: "+ monto + "</h4>"; 
				 //$('.totalapagar').text(monto);			 
					html +="<tr><td id='Id'>"+ ida +"</td>";
					html +="<td>"+ eq1 +"</td>";
					html +="<td>"+ eq2 +"</td>";
					html +="<td>"+ eq3 +"</td></tr>";
				 //$('#apagar').append('item: '+ eq1+ ','+ eq2 + ','+eq3);
				 $('#datos').html(html);
			});   
			 $('#totalapagar').html(htotalpago);
		});
	</script> 
		
	<script> 
		
		$( "#cobro2" ).click(function() {
		alert($(this).val());
		});

		$('#cobro').on('click',function(){			 
		var op_id = $('#datos').find('td').html();   
		//var cutomerId = $(this).find("td:first").html();
		//var id = $(this).find('option:checked').val(); 
		//console.log(id_);
		$.ajax({ 
		        data: {'id_': op_id},
		        type: "GET",                
		        url: '/ajax/reg_pago/',		             
		        success: function(data){
		            var html = "";  		               
		        }
		    });
		});



		$('.chcktbl').click(function(){
		//alert($(this).val()); // el id  del la  tabla de cobros
        recalculate();	
		});

		 function recalculate(){
		 var sum = 0;		 		   
		 $('#out').text('');
		    $("input[type=checkbox]:checked").each(function(){
			  sum += parseInt($(this).attr("rel"));
			});
			$('#out').append(sum);			 			 
			}
	</script>
{%endblock%}
 