{% extends "base.html" %}
{%block content%}
	<div class="panel panel-primary">
		<form action="/listcobros/" method = "POST">{% csrf_token %}
		<div class="row">
			<div class="col-lg-3">
	            <div class="input-group custom-search-form">
	              <input type="text" name = "consulta" class="form-control" placeholder="busca alumno ">
	              <span class="input-group-btn">
	              <button class="btn btn-default" type="submit" value = "Buscar">
	              <span class="glyphicon glyphicon-search"></span>
	             </button>
	             </span>
	            </div><!-- /input-group -->
	            <div class="app-cobranza">
	            	 	<label>Alumno:</label>{{alumno.id}} {{alumno.nombre}} {{alumno.apellidos}} 
                 		<br>
                 		<label>Nivel:</label>{{alumno.nivel}}
                 		<br>
                 		<label>Grupo:</label>{{alumno.grupo}}  
                 		<br>
                 		<label>Beca:</label>{{beca.porcentaje}}                  		
	            </div>
	        </div>
		</div>
	</form>
		<div class="panel-heading">Lista de Pagos Pendientes</div>
		<div class="panel-body">			
			<div class="table-responsive">
				<table  class="table table-hover table-bordered">                 	
					<tr>
						<th>Nombre</th>
						<th>Concepto</th>
						<th>Importe</th>
						<th>Fecha Limite de Pago</th>
						<th>Recargo</th>
						<th>Total a Pagar</th>
						<th>Seleccionar</th>								
					</tr>
					{%for a in cobranza%}
					<tr class="item">
						<td>
							<small>{{a.alumno}}</small>
						</td>	
						<td>
							<small>{{a.concepto}}</small>
						</td>	
						<td>
							<small> {{ a.concepto.importe }} </small>
						</td>					
						<td>
							<small>{{a.concepto.fechaLimitePago|date:"d M Y"}}
						</td>	
						<td>
							<small>{{a.recargo}}</small>
						</td>
						<td id="pago">
							<small>{{a.totalapagar}}</small>
						</td>
						 <td>
						<input type="checkbox" class = "chcktbl" value="{{a.id}}" rel="{{a.totalapagar}}">
						</td>					           
					</tr>
					 
					{%endfor%}					
				</table>	
				<div>
					<h4>
					<p>Monto Total a Pagar:</p><p id="out"></p>			 
					</h4>
				</div>
				<button  id="test" class="btn btn-primary pull-right" data-toggle="modal" data-target="#miModalx">Pagar</button>

			</div>
		</div>
		<div class="modal fade" id="miModal">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button class="close" aria-hidden="true" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Pago de Colegiatura</h4>
                        </div>

                        <div class="modal-body">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus sequi saepe temporibus, nobis quidem eum, sed architecto ducimus distinctio doloribus labore ullam porro rem veritatis enim eaque fuga similique ipsum!
                        </div>

                        <div class="modal-footer">
                            <button class="btn btn-primary">Aceptar</button> <button class="btn btn-default" data-dismiss="modal">Cancelar</button>
                        </div>
                    </div>
                </div>
        </div>
	</div>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>	
	<script>
		 
	$('#test').on('click', function() {
		$("input:checkbox:checked").each(function(){
			//quantity2 = $(this).find("input.chcktbl").val();
		    //console.log(quantity2);
			alert($(this).val());
			$.ajax({
				data: {'id': $(this).val()},
				type: "GET",
				url: '/ajax/pago-emergente/',
				success: function(data) {
					var html = "";	
					//console.log(data);
					for (var i=0; i < data.length; i++) {
						html +="<tr><td>"+data[i].materia +"</td>";
						html +="<td>"+data[i].maestro+"</td>";
						html +="<td>"+data[i].nivel+"</td>";
						html +="<td>"+data[i].grupo+"</td>";
						html +="<td>"+ "<a href=/upmstroxgpo/"+data[i].id+">"+'Edit'+"</a></td></tr>"; 
					}					
					$('#datos').html(html);


			});
		}); 
	});
	</script> 

	<script>
		//$('.chcktbl').on('change', registra_pago);                        
		$('.chcktblxx').on('change', registra_pago);                        
		function registra_pago(){  
		//alert($(this).val());		
	    //pago = $(this).find('input:selected').attr('rel');
		//alert($(this).find('input:selected').attr('rel'));
		var id_  = this.value;
		console.log(id_);
		$.ajax({ 
		        data: {'id_': $(this).val()},
		        type: "GET",                
		        url: '/ajax/reg_pago/',		             
		        success: function(data){
		            var html = "";    
		            console.log(data);    
		        }
		    });
		}
 
		$('.chcktbl').click(function(){
		//alert($(this).val()); // el id  del la  tabla de cobros
		recalculate();		  	 	 	  	 
			 //if($('.chcktbl').is(':checked')){
			 //	  alert("lo puso");
			//	}
			//else {
			//		    alert("lo quito");
			//		}
			});


		 function recalculate(){
		 var sum = 0;		 		   
		 $('#out').text('');
		    $("input[type=checkbox]:checked").each(function(){
			  sum += parseInt($(this).attr("rel"));
			});
			$('#out').append(sum);			 			 
			}
	</script>
{%endblock%}
 