{% extends "base.html" %}
{%block content%}
	<div class="panel panel-primary">
		<div class="panel-heading">Ultimos 4 Alumnos Nuevos</div>
		<div class="panel-body">			
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th>Nombre</th>
						<th>Grupo</th>
						<th>Edit</th>
						<th>Foto</th>
						<th>Date added</th>											
					</tr>
					{%for a in alumnos%}
					<tr>
						<td>
							{{a.nombre}} {{a.apellidos}}
						</td>
						<td>
							<small>{{a.grupo}}</small>
						</td>
						<td>
							<a href="/updatealumno/{{a.id}}">Edit</a>
						</td>
						<td>
							 <img src="{{MEDIA_URL}}{{a.foto}}" height="60" width="100">
						</td>						 
						<td>
							{{a.modified|date:"M d, Y"}}
						</td>
					</tr>
					{%endfor%}
				</table>				 
				<a href="/addalumno"<button class="btn btn-primary pull-right">Nueva Alumno</button></a>
			</div>
		</div>
		 {% if paginator.num_pages > 1 %}
		    <div class="pager">
		        <ul>
		            {% if page_obj.has_previous %}
		                <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
		            {% endif %}
		            <li><a href="#">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
		            {% if page_obj.has_next %}
		                <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
		            {% endif %}
		        </ul>
		    </div>
    	{% endif %}

	</div>
{%endblock%}
