{% extends "base.html" %}
{%block content%}
<div class="panel panel-primary">
	  <div class="panel-heading">Listado de Alumnos por Grupo</div>
		<div class="panel-body">			
			<div class="table-responsive">					 
						<div>
						<table class="table table-hover table-bordered">
							<label for="text">Nivel:</label>{{form.nivel}}
						</table>
						</div>	
								
					    <label for="id_grupo">Grupos:</label>
						<select id="id_grupo" name="grupo">
						<option value="" selected="selected">---------</option>
						</select>
					
				 <div class="row" id ="datos" >
				        <div class="col-md-4">
				          <div class="col-xs-12 col-sm-4 col-md-6- col-lg-8">          
				                  
				          </div>
				        </div>
				 </div>
			</div>
		</div>
</div>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	
	<script>
		$("#id_nivel").on('change', mostrarGrupo);
		function mostrarGrupo() {
			  //alert($(this).val());
			$.ajax({
				data: {'id_nivel': $(this).val()},
				type: "GET",
				url: '/ajax/mostrar-grupos/',
				success: function(data) {
					//console.log(data);
					var options = '<option value="" selected="selected">---------</option>';
					for (var i=0; i < data.length; i++) {
						options += '<option value="'+ data[i].pk +'">'+ data[i].fields.nombre +
						'</option>';
					}					
					$('#id_grupo').html(options);
				}
			});
		}
	</script>

	<script> 
		 $("#id_grupo").on('change', listGrupo);
		function listGrupo(){
          //alert($(this).val());
          $.ajax({
				data: {'id_grupo': $(this).val()},
				type: "GET",				
				url: '/ajax/listgpo/',
				success: function(data) {
					var html = "";	
					
					for (var i=0; i < data.length; i++) {
						html += '<div>'+ data[i].alumno +'  '+
						data[i].grupo+' '+
						data[i].email+'</div>'; 
						}					
					$('#datos').html(html);
				}
			});
    	}
	</script>

{%endblock%}