body
{
	background:#FAFCFD;
	color: BLACK;
	font-family: "Open Sans",serifa;
	font-size: 13px;
	text-align: left;
	padding-top: 52px;
}
 

 
footer.navbar-default.navbar-fixed-bottom
{
	background:#403D3D;
	color:white;
	padding:.5em 0;
}

footer.navbar-default.navbar-fixed-bottom p
{
      margin:0;
}
 
.panel-footer{
	background-color:#D0CDCD !important; 
}

.busqueda {
	float: right;
	margin-top: -5px;
	margin-bottom: 2px;
}

#custom-search-form .search-query {
        padding-right: 3px;
        padding-right: 4px \9;
        padding-left: 3px;
        padding-left: 4px \9;
        /* IE7-8 doesn't have border-radius, so don't indent the padding */
 
        margin-bottom: 0;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
    }
