{% extends "base.html" %}
{%block content%}  
	<div class="panel panel-primary">
	  <div class="panel-heading">Maestros y sus  Grupos</div>
		<div class="panel-body">			
			<div class="table-responsive">
				<table class="table table-hover table-bordered">
					<tr>
						<th>Maestro</th>
						<th>Nivel</th>
						<th>Materia</th>
						<th>Grupo</th>						 
					</tr>
					{% for x in profe %}
					<tr>
						<td>
							{{x.maestro}}
						</td>
						<td>
							{{x.nivel}}
						</td>													
						<td>
							 {{x.materia}}
						</td>	
						<td>
							 {{x.grupo }}
						</td>						 					
					</tr>
					{%endfor%}
				</table>
				 
			</div>
		</div>
		{% if paginator.num_pages > 1 %}
		    <div class="pager">
		        <ul>
		            {% if page_obj.has_previous %}
		                <li><a href="?page={{ page_obj.previous_page_number }}">Prev</a></li>
		            {% endif %}
		            <li><a href="#">Pagina {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}</a></li>
		            {% if page_obj.has_next %}
		                <li><a href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
		            {% endif %}
		        </ul>
		    </div>
    	{% endif %}
	</div>
{%endblock%}




 